<launch>

    
    <node pkg="object_locater" type="object_locater_node" name="object_locater" output="screen" />

    <!-- If needed, broadcast static tf for robot root -->
    <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 base_link base_footprint 100" />
 
  <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/joint_state" />
  </node-->

  <!-- If needed, broadcast static tf for robot root -->
    <node pkg="tf" type="static_transform_publisher" name="chassis_to_bottom_body_box" args="0.01 0 0.33 0 0 0  chassis bottom_box 100" />
    
    <!-- Wheel Connections -->
    <!--node pkg="tf" type="static_transform_publisher" name="base_link_to_right_wheel" args="0.1 -.17 -0.055 -1.5707 0 0  chassis right_wheel 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_left_wheel" args="0.1 .17 -0.055 1.5707 0 0  chassis left_wheel 100" />

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_rear_right_wheel" args="-0.115 -0.17 -0.055 -1.5707 0 0  chassis rear_right_wheel 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_rear_left_wheel" args="-0.115 0.17 -0.055 1.5707 0 0  chassis rear_left_wheel 100" /-->

    <!-- Bottom kinect -->
    <node pkg="tf" type="static_transform_publisher" name="bottom_box_to_camera_link" args="0.16 -0.04 1.15 0.2 1.2 0.2  bottom_box camera_link 100" />
    <!--node pkg="tf" type="static_transform_publisher" name="bottom_box_to_camera2_link" args="0.035 0 1.404 0 0 0  bottom_box camera2_link 100" /-->

  <param name="robot_description_rsp" textfile="$(find sudo_description)/urdf/complete_model_rsp.urdf"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="robot_description" to="robot_description_rsp" />
  </node>

</launch>
