<robot name="sudo" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Top box of Sudo-->
<link name="top_box">
	<origin rpy="0 0 0" xyz="-0 0 0"/>
	<inertial>
        <mass value="0.5"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
	<visual name="visual">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry>
    		<mesh filename="package://sudo_description/models/box.dae" scale="0.04 0.35 0.2" />
  		</geometry>
		<material name="black">
	    	<color rgba="0 0 0 1.0"/>
		</material>
	</visual>
	<collision>
		<origin xyz="0 0 0" rpy="0 0 0"/>
  		<geometry>
    		<mesh filename="package://sudo_description/models/box.dae" scale="0.04 0.35 0.2" />
  		</geometry>
	</collision>
</link>

<!-- Gazebo color plugin for top box -->
<gazebo reference="top_box">
    <material>Gazebo/FlatBlack</material>
</gazebo>

<!-- Connection between chassis and bottom rectangular box -->
<joint name="bar_left_to_top_box" type="fixed">
	<origin rpy=" 0 0 0" xyz="0 -0.16 0.57"/>
	<child link="top_box"/>
	<parent link="bar_left"/>
</joint>


<!-- Bottom Kinect box -->
<link name="bottom_kinect_box">
	<inertial>
        <mass value="0.25"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<visual name="visual">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry>
    		<mesh filename="package://sudo_description/models/box.dae" scale="0.09 0.075 0.03" />
  		</geometry>
		<material name="black">
	    	<color rgba="0 0 0 1.0"/>
		</material>
	</visual>
	<collision>
		<origin xyz="0 0 0" rpy="0 0 0"/>
  		<geometry>
    		<mesh filename="package://sudo_description/models/box.dae" scale="0.09 0.075 0.03" />
  		</geometry>
	</collision>
</link>

<!-- Gazebo color plugin for bottom Kinect box -->
<gazebo reference="bottom_kinect_box">
    <material>Gazebo/Grey</material>
</gazebo>

<!-- Connection between chassis and bottom rectangular box -->
<joint name="top_box_to_bottom_kinect_box" type="fixed">
	<origin rpy=" 0 0 0" xyz="0.065 0 -0.085"/>
	<child link="bottom_kinect_box"/>
	<parent link="top_box"/>
</joint>

</robot>
