<?xml version="1.0" ?>

<robot name="sudo" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Robot base: base_footprint, chassis (pioneer) and left and right wheel -->
<xacro:include filename="$(find sudo_description)/urdf/complete_model_robot_base.urdf.xacro" />

<!-- Bottom part: black box, laser, xtion and laptop stand -->
<xacro:include filename="$(find sudo_description)/urdf/complete_model_bottom_part.urdf.xacro" />

<!-- Middle part: bars and emergency buttons -->
<xacro:include filename="$(find sudo_description)/urdf/complete_model_middle_part.urdf.xacro" />

<!-- Top box: black box and kinects -->
<xacro:include filename="$(find sudo_description)/urdf/complete_model_top_part.urdf.xacro" />

<!-- Mico arm: piece of wood and arm -->
<xacro:include filename="$(find sudo_description)/urdf/complete_model_mico_arm.urdf.xacro" />

</robot>